<div>
    <ul>
        <li><a href="{{ url_for('jpgtopng') }}">JPG to PNG converter</a></li>
        <li><a href="{{ url_for('pngtojpg') }}">PNG to JPG converter</a></li>
        <li><a href="{{ url_for('webptopng') }}">WEBP to PNG converter</a></li>
        <li><a href="{{ url_for('bmptopng') }}">BMP to PNG converter</a></li>
        <li><a href="{{ url_for('pngtopdf') }}">PNG to PDF converter</a></li>
    </ul>
</div>
