<!DOCTYPE html>
<html>
<head>
  <title>My Website</title>
</head>
<body>
  {% include 'navbar.html' %}
  <h1>JPG to PNG Converter</h1>
  <style>
    body {
    background-color: #f2f2f2;
    
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
}

label {
    font-size: 2em;
    font-weight: 600;
}

input[type="file"] {
    margin-top: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 250px;
}

button[type="button"] {
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
}

</style>





<form>
    <label>Select JPG Image:</label>
    <input type="file" id="jpgfile" accept="image/jpeg">
    <br>
    <button type="button" onclick="convertJPGtoPNG()">Convert to PNG</button>
    <br>
    <label id="error"></label>
</form>

<script>


function convertJPGtoPNG() {
    var file = document.getElementById("jpgfile").files[0];
    var error = document.getElementById("error");
    if (!file) {
    error.innerHTML = "Please select a JPG image";
    } else if (file.size > 5000000) {
    error.innerHTML = "Image should be less than 5MB";
    } else if (file.type !== "image/jpeg") {
    error.innerHTML = "Selected file is not in JPG format";
    } else {
        error.innerHTML = "";
        var formData = new FormData();
        formData.append("image", file);
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/api/jpgtopng", true);
        xhr.responseType = 'blob';
        xhr.onreadystatechange = function() {
        if (xhr.readyState === 4 && xhr.status === 200) {
            var a = document.createElement('a');
            a.href = window.URL.createObjectURL(xhr.response);
            a.download = 'converted.png';
            a.style.display = 'none';
            document.body.appendChild(a);
            a.click();
            alert("Your file was successfully converted!");
        } else {
        console.log("Error: " + xhr.status);
        }
        };
        xhr.send(formData);
    }
}
</script>
</body>
</html>