<style>
    .header-menu{
        display: inline-flex;
min-width: 100%;
background: #68278c;
color: #FFF;
padding: 0.5em;
    }
    .header-menu a{
        color: #FFF;
        font-weight: 600;
        margin: 0px 10px;
    }


     /* Dropdown Button */
.dropbtn {
    color: #FFF;
    font-weight: 600;
    margin: 0px 10px;
    background: #68278c;
    padding: 0 15px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 
</style>


<div class="header-menu">
    <a href="{{ url_for('index') }}">Home</a>
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Tools</button>
        <div id="myDropdown" class="dropdown-content">
            <a href="{{ url_for('jpgtopng') }}">Convert JPG to PNG </a>
            <a href="{{ url_for('pngtojpg') }}">Convert PNG to JPG </a>
            <a href="{{ url_for('bmptopng') }}">Convert BMP to PNG </a>
            <a href="{{ url_for('webptopng') }}">Convert WEBP to PNG </a>
            <a href="{{ url_for('pngtopdf') }}">Convert PNG to PDF </a>
        </div>
    </div>
</div>
    
<script>
    /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
} 

</script>
